</HTMl>

<head>
  <title>MON PROPS CV</title>
  <meta charset="utf_8">
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>


<body>
  <div class="kaliss">
    <Nav>
      <div class="frencais">
        <a href="">programes</a>
        <a href="">Nos campus</a>
        <a href="">Admission</a>
        <a href="">Evenements</a>
        <a href="">Biog</a>
      </div>
    </Nav>
    <div class="anglais">
      <img src="image/bakeli.png" alt="">
      <div class="anglais111">
      <H2> un formation 100% pratique </H2>
      <p>Hendrerit dusi lacus tellus. id sed massa
        congue consequat in quis intredum dignissm.
      </p>
    </div>
    </div>
  </div>
  <header>
    <div class="woloof">
      <div class="div1">
        <div class="cercle">
           <img src="image/programmation.png" alt="">
        </div>
        <h2>programmation</h2>
        <p>Auguet tellus at odio velit diam. <br>
          fringilla sagittis facilisi ur</p>

      </div>
      <div class="div2">
        <div class="cercle">
          <img src="image/conception-graphique.png" alt="">
        </div>
        <h2>Design</h2>
        <p>Auguet tellus at odio velit diam. <br>
          fringilla sagittis facilisi </p>

      </div>
      <div class="div3">
        <div class="cercle">
          <img src="image/marketing-de-contenu.png" alt="">
        </div>
        <h2>Markiting degital</h2>
        <p>Auguet tellus at odio velit diam. <br>
          fringilla sagittis facilisi </p>
      </div>
    </div>
  </header>
  <div class="pullh">
     <h2>bakeli</h2> 
      <a href="">programmation </a> 
      <a href="">Design graphique/UI UX Design</a>
      <a href="">Markiting degital</a>
      <a href="">Entrepenarait</a>
   </div>
   <div class="touklor">
     <img src="image/wordpress.gif" alt="">

     <img src="image/css html.png" alt="">

     <img src="image/canoa.jpg" alt="">

     <img src="image/js.png" alt="">

     <img src="image/-java.png" alt="">

     <img src="image/Inkscape_Logo.svg.png" alt="">

     <img src="image/iBJehkOi_400x400.png" alt="">

     <img src="image/Python-Symbol.png" alt="">

   </div>
   <div class="bambar">
     <h1>bakeli</h1>
     <p>viverra duis gravida nulla adipiscing veilt sollicitudin 
       . in facilisis lacus id amet aliquet enimi ipsum  </p>
       
         <ul>
         <div class="bambar2">
           <div class="div11">
           <li> 
              <label for="file">pratique 100%</label> <br>
              <progress id="file" value="100" max="100"> 100% </progress>
          </li> 
          </div>
          <li>
             <label for="file">operation 90%</label> <br>
             <progress id="file" value="90" max="100">90%</progress>
          </li> 
        </div>
        <br>
      <div class="bambar3">
        <div class="div12">
        <li>
          <label for="file">bakelistes inseres 80%</label> <br>
          <progress id="file" value="80" max="100">80%</progress>
        </li>
       </div>
        <li>
          <label for=""></label> <br>
          <progress id="file" value="40" max="100"></progress>
        </li>
      </div>
       </ul>
   </div>
   <div class="tooma">
     <h2>notre team</h2>
     <p>viverra duis gravida nulla adipiscing veilt sollicitudin 
      . in facilisis lacus id amet aliquet enimi ipsum </p>
     <div class="tooma2">
       <div class="tooma3">
         <img src="image/123.jpeg" alt="">
         <p>jane cooper</p>
      </div>
      <div class="tooma4">
         <img src="image/WhatsApp Image (1).jpeg" alt="">
         <p>jacob jones</p>
      </div>
      <div class="tooma5">
         <img src="image/WhatsApp Image 2021-11-19 at 00.30.20.jpeg" alt="">
         <p>yacine </p>
     </div>
     <div class="tooma6">
        <img src="image/WhatsApp (2).jpeg" alt="">
        <p>brooklyn simmone </p>
      </div>
    </div>
   </div>
   <div class="dioola">
    <img src="image/bakeli.png" alt="">
    <p>risus mangna trupis rhoncus leo justo, ipsum. fusce blandit 
      a odio pellentesque quam. faucibus nisi quis justo ipsum vel 
      duis cras diam .
    </p>
    <p> quis blandit magnis dignissm sit velit, at . trupis lacus , 
      mi lorem nulla ornare in ut . natoque pellentesque sagittis 
      laorret vitae lorem .
    </p>
    <h4>varius condimentum molestie lacus tempor urna. </h4>
   </div>
 
   <footer>
      <h1>infos</h1>
     <div class="sooce">
      <div class="maninke1">
       <ul>
         <li>formation</li>
         <li>nos partenaires</li>
         <li>suivez-nous sur :</li>
       </ul>
      </div>
      <div class="maninke2">
      <ul>
        <li>nous contactez au : 776244372</li> <br>
        <li>services clients  au :708895251</li>
      </ul>
     </div>
     <div class="maninke3">
      <ul>
        <li>qui sommes-nous </li> <br>
        <li>plus de renseignment</li>
        <li></li>
      </ul>
     </div>
     <div class="maninke4">
      <ul>
        <li>Evenements </li> <br>
        <li>campus</li>
      </ul>
     </div>
    </div>
    <h3> contactez-NOUS </h3>
   </footer>
</body>
<HTml>