@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body{
    margin: 0px;
    padding: 0px;
    font-family: Montserrat,sans-serif;
}
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    padding:1%;
}
nav .frencais a{
    text-decoration: none;
    color: black;
    margin-right: 10px;
}
.anglais{
    background-image: url(image/WhatsApp\ Image\ 2021-11-11\ at\ 10.05.03.jpeg);
    height: 500px;
}
.anglais{
   text-align: center;
}
.anglais img{
    width: 200px;
    height: 150px;
    border-radius: 15px;
    margin-top: 10%;
 }
 .anglais h2{
     background-color: rgb(107, 105, 105);
 }

.woloof{
    background-color: bisque;
    height: 300px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    margin: 0px;
}
/*.div1 img{
    width: 350px;
    height: 350px;
  border-radius: 1000%;
    border: 1px solid blue;
    width: 80px ;  
}
*/
.woloof .cercle{
    width: 150px;
    height: 100px;
    border: 1px solid red;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*
.pullh {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pullh a{   
    text-decoration: none;
    color: black;
    margin-right: 15px;
    justify-content: center;
}
*/
.pullh{
    text-align: center;
    padding: 30px;
    background-color: navajowhite;
}
.pullh a{
    text-decoration: none;
    margin-right: 20px;
}
.touklor{
    background-color: beige;
    height: 300px;
}
.touklor img{
    width: 300px;
    height: 150px;
}
.bambar{
    text-align: center;

}
.bambar2{
    display: flex;
    justify-content: center;
}
.div11{
    padding-right: 80px;
}
.bambar3{
    display: flex;
    justify-content: center;
}
.div12{
    padding-right: 80px;
}
.bambar ul li{
    list-style-type:none ;

}
progress{
    width: 400px;
    height: 20px;
}
.tooma{
    text-align: center;
    background-color: azure;
}

.tooma2{
    display: flex;
    justify-content: center;
    height: 200px;
}
.tooma2 img{
    width: 300px;
}

.dioola{
   text-align: center;
   background-color: #ffff;

}
.dioola img{
    width: 200px;
    height: 150px;
    border-radius: 10px;
    margin-top: 10%;
}
/*
footer{
    background-color: ghostwhite;
    display: flex;
    justify-content: center;
    
}

footer ul{
    list-style-type:none ;
    padding: 30px;
    margin: 20px;
}
*/
footer{
    background-color: bisque;
}
footer h1{
    text-align: center;
}
.sooce{
    display: flex;
    justify-content: center;
}
.sooce ul{
    list-style-type: none;
    padding: 30px;
    margin: 20px;
}
footer h3{
    text-align: center;
}


